{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}New Song{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}New Song{% endtrans %}</h1>
    {% include 'song/form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('song-form') }}
{% endblock %}