@import '~bootstrap/dist/css/bootstrap.css';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~chosen-js/chosen.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'variables';
@import 'chosen';
@import 'flashbag';
@import 'algolia-autocomplete';

body {
    background-color: $background-color;
    color: $text-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .page {
        > header {
            background-color: #5781ff !important;
            border-bottom: 1px solid #999dd9 !important;
            text-align: center;
            a {
                color: #e7f1ff !important;
            }
        }

        > footer {
            background-color: #222222 !important;
            color: #999999;
        }
    }

    a:link, a:visited {
        text-decoration: none;
        opacity: .8;
    }
}

.header-title {
    font-size: 48px;
    font-weight: normal;

    &:link, &:visited {
        color: black;
    }
}

section.content {
    padding: 20px 0 60px 0;
    position: relative;

    h1 {
        font-size: 26px;
        margin-bottom: 0px;

        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f001";
            padding-right: 12px;
        }
    }

    .index-operations {
        position: absolute;
        top: 7px;
        right: 14px;

    }

    form {
        display: block;
        position: relative;

        .form-operations {
            position: absolute;
            top: -79px;
            right: 0;
        }
    }
}

form {
    label, legend {
        font-weight: bold;
    }
}

.collection {
    .form {

    }

    .operations {
        width: 10px;
        padding-left: 10px;

        button {
            height: 31px;
        }
    }
}

table.index {
    th, td {
        padding: 5px 10px;
        background-color: #EFEFEF;
        color: $text-color;

        .btn {
            margin-bottom: 0 !important;
        }

        &.operations {
            text-align: center;
        }
    }

}

.errors {
    margin-bottom: 10px;

    div {
        border-radius: 5px;
        background-color: #bb2d3b;
        color: #fdfdfe;
        padding: 5px 10px;
        font-weight: normal;

        &:before {
            font-family: 'Font Awesome 5 Free';
            content: '\f06a';
            font-weight: 900;
            font-size: 14px;
            margin-right: 10px;
        }

    }
}

.form-check .form-check-input {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;

}

/*.entity-autocomplete-value {
    display: block !important;
}*/